<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="author" content="Gabriel do Marco Bassinello">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>
        
        <!-- Vue production version, optimized for size and speed -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <!-- Boostrap 4.4 minified -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Local Styles-->
        <link rel="stylesheet" href="styles.css">

        <!-- FontAwesome CDN Kit -->
        <script src="https://kit.fontawesome.com/14ea851b2d.js" crossorigin="anonymous"></script> 
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <!-- Header -->
                <div class="row bg-dark">
                    <div class="col-12">
                        <h1 class="text-center text-light pt-2">Teste Front-End Skylar</h1>
                    </div>
                </div>
                <div class="container-fluid">
                    <!-- Toolbar -->
                    <div class="row mt-2">
                        <div class="col-6">
                            <h4 class="text-info mt-1">Contacts</h4>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-info float-right" @click="showAddModal=true">
                                <i class="fas fa-user"></i>&nbsp;&nbsp;Add Contact
                            </button>
                        </div>
                    </div>
                    <hr class="bg-info">
                    <!-- Alerts -->
                    <div class="alert alert-danger" v-if="errorMsg">{{errorMsg}}</div>
                    <div class="alert alert-success" v-if="successMsg">{{successMsg}}</div>
                    <!-- Table -->
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="text-center bg-info text-light">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" v-for="item in contacts">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.telephone }}</td>
                                        <td class="text-center">
                                            <a href="#" class="text-success" @click="getContact(item.id);showEditModal=true"><i class="fas fa-edit"></i></a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="text-danger" @click="removeContact(item.id)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add New User Modal -->
            <transition name="fade">
            <div id="overlay" v-if="showAddModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Contact</h5>
                            <button type="button" class="close" @click="showAddModal=false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4">
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="name">
                                </div>                                
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control form-control-lg" placeholder="Email" v-model="email">
                                </div>                                
                                <div class="form-group">
                                    <input type="tel" name="telephone" class="form-control form-control-lg" placeholder="Telephone" v-model="telephone">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-block btn-lg" @click="addContact">Add Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
            <!-- Edit User Modal -->
            <transition name="fade">
            <div id="overlay" v-if="showEditModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Contact</h5>
                            <button type="button" class="close" @click="showEditModal=false;clearCurrentContact();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4">
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control form-control-lg" v-model="name">
                                </div>                                
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control form-control-lg" v-model="email">
                                </div>                                
                                <div class="form-group">
                                    <input type="tel" name="telephone" class="form-control form-control-lg" v-model="telephone">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-block btn-lg" @click="editContact">Confirm Editing</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </transition>
        </div>

        <!-- Main scripts -->
        <script type="text/javascript" src="main.js"></script>

        <!-- Bootstrap requirements -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>